.thumbslider {
	width: 100%;
	overflow: hidden;
}

.thumbslider__nav {
	display: none;
}

.thumbslider__title {
	margin: 0;
	padding: 10px 0;
	font-size: 20px;
	font-family: OpenSans;
	font-weight: 700;
	text-transform: uppercase;
}

.thumbslider__title:before {
	content: "[";
	color: #9b1518;
	margin-bottom: 5px;
}

.thumbslider__title:after {
	content: "]";
	color: #9b1518;
	margin-bottom: 5px;
}

.thumbslider__list {
	width: 100%;
	margin: 0;
	padding: 0 40% 0 20%;
	overflow-x: scroll;
	white-space: nowrap;
}

.thumbslider__item {
	width: 60%;
	display: inline-block;
	margin-right: 5%;	
}	

.thumbslider__item:last-child {
	margin-right: 40%;
}

.thumbslider__item a {
	text-decoration: none;
	color: black;
}

.thumbslider__item img {
	width: 100%;
}

.thumbslider__item-title {
	font-size: 10px;
	font-family: OpenSans;
	font-weight: 700;
	margin: 0;
	padding: 10px 0;
	box-sizing: border-box;
}

@media screen and (min-width: 450px) {
	.thumbslider__item {
		width: 33.33%;
		margin-right: 3%;
	}

	.thumbslider__list {
		padding: 0 40% 0 10%;
	}
}

@media screen and (min-width: 768px) {
	.thumbslider__item {
		width: 20%;
		margin-right: 2%;
	}

	.thumbslider__list {
		padding: 0 20% 0 5%;
	}
}

@media screen and (min-width: 960px) {
	.thumbslider__list {
		padding: 0;
		overflow: initial;
	}

	.thumbslider__list-wrapper {
		position: relative;
		margin: 0 10%;
		/*overflow: hidden;*/
	}

	.thumbslider__nav {
		display: block;
		position: absolute;
		top: 20%;
		bottom: 40%;
		width: 6%;
		background: #9b1518;
		border: none;
		border-radius: 50%;
		color: white;
		font-size: 20px;
		font-weight: 900;
		text-align: center;
	}

	.thumbslider__nav-right {
		right: -10%;
		padding: 15px 0 0 3px;
	}

	.thumbslider__nav-left {
		left: -10%;
		padding: 15px 0 3px 0;
	}

	.thumbslider__nav:hover {
		background: rgba(151, 21, 24, 0.7);
	}
}









